streamlit
python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
pypdf
protobuf==4.25.3